## Dataset Preparation
***

### Import Library

In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

### Load SQL Magic Command in Jupyter Notebook

In [2]:
%load_ext sql

### Connect to Local Database

In [3]:
%sql postgresql://postgres:postgres@localhost/PortfolioProject

### Check Schema

In [4]:
%%sql 

select table_name
from information_schema.tables 
where table_schema = 'public'

 * postgresql://postgres:***@localhost/PortfolioProject
0 rows affected.

[]

### Load Datasets

In [5]:
covid_death = pd.read_csv('CovidDeaths.csv')
covid_death.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2/24/2020,40099462.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
covid_death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208798 entries, 0 to 208797
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   iso_code                            208798 non-null  object
 1   continent                           196736 non-null  object
 2   location                            208798 non-null  object
 3   date                                208798 non-null  datetime64[ns]
 4   population                          207561 non-null  float64
 5   total_cases                         200303 non-null  float64
 6   new_cases                           199943 non-null  float64
 7   new_cases_smoothed                  198766 non-null  float64
 8   total_deaths                        181503 non-null  float64
 9   new_deaths                          181458 non-null  float64
 10  new_deaths_smoothed                 180286 non-null  float64
 11  total_cases_per_million             199383 non-null  float64
 12  new_cases_per_million               199023 non-null  float64
 13  new_cases_smoothed_per_million      197851 non-null  float64
 14  total_deaths_per_million            180596 non-null  float64
 15  new_deaths_per_million              180551 non-null  float64
 16  new_deaths_smoothed_per_million     179384 non-null  float64
 17  reproduction_rate                   156558 non-null  float64
 18  icu_patients                        27533 non-null   float64
 19  icu_patients_per_million            27533 non-null   float64
 20  hosp_patients                       29444 non-null   float64
 21  hosp_patients_per_million           29444 non-null   float64
 22  weekly_icu_admissions               6839 non-null    float64
 23  weekly_icu_admissions_per_million   6839 non-null    float64
 24  weekly_hosp_admissions              13550 non-null   float64
 25  weekly_hosp_admissions_per_million  13550 non-null   float64
dtypes: datetime64[ns](1), float64(22), object(3)
memory usage: 41.4+ MB

In [11]:
covid_death['date'] = pd.to_datetime(covid_death['date'], format="%m/%d/%Y")

In [7]:
covid_vaccine = pd.read_csv('CovidVaccination.csv')
covid_vaccine.head()

,iso_code,continent,location,date,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [8]:
covid_vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208798 entries, 0 to 208797
Data columns (total 45 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    208798 non-null  object
 1   continent                                   196736 non-null  object
 2   location                                    208798 non-null  object
 3   date                                        208798 non-null  object
 4   total_tests                                 79387 non-null   float64
 5   new_tests                                   75403 non-null   float64
 6   total_tests_per_thousand                    79387 non-null   float64
 7   new_tests_per_thousand                      75403 non-null   float64
 8   new_tests_smoothed                          103965 non-null  float64
 9   new_tests_smoothed_per_thousand             103965 non-null  float64
 10  positive_rate                               95927 non-null   float64
 11  tests_per_case                              94348 non-null   float64
 12  tests_units                                 106788 non-null  object
 13  total_vaccinations                          58284 non-null   float64
 14  people_vaccinated                           55633 non-null   float64
 15  people_fully_vaccinated                     52935 non-null   float64
 16  total_boosters                              29845 non-null   float64
 17  new_vaccinations                            47929 non-null   float64
 18  new_vaccinations_smoothed                   117719 non-null  float64
 19  total_vaccinations_per_hundred              58284 non-null   float64
 20  people_vaccinated_per_hundred               55633 non-null   float64
 21  people_fully_vaccinated_per_hundred         52935 non-null   float64
 22  total_boosters_per_hundred                  29845 non-null   float64
 23  new_vaccinations_smoothed_per_million       117719 non-null  float64
 24  new_people_vaccinated_smoothed              116945 non-null  float64
 25  new_people_vaccinated_smoothed_per_hundred  116945 non-null  float64
 26  stringency_index                            158166 non-null  float64
 27  population_density                          185807 non-null  float64
 28  median_age                                  172086 non-null  float64
 29  aged_65_older                               170267 non-null  float64
 30  aged_70_older                               171185 non-null  float64
 31  gdp_per_capita                              171198 non-null  float64
 32  extreme_poverty                             111679 non-null  float64
 33  cardiovasc_death_rate                       171654 non-null  float64
 34  diabetes_prevalence                         180247 non-null  float64
 35  female_smokers                              129852 non-null  float64
 36  male_smokers                                128073 non-null  float64
 37  handwashing_facilities                      84317 non-null   float64
 38  hospital_beds_per_thousand                  152539 non-null  float64
 39  life_expectancy                             195339 non-null  float64
 40  human_development_index                     167210 non-null  float64
 41  excess_mortality_cumulative_absolute        7021 non-null    float64
 42  excess_mortality_cumulative                 7021 non-null    float64
 43  excess_mortality                            7039 non-null    float64
 44  excess_mortality_cumulative_per_million     7021 non-null    float64
dtypes: float64(40), object(5)
memory usage: 71.7+ MB

In [14]:
covid_vaccine['date'] = pd.to_datetime(covid_vaccine['date'], format="%m/%d/%Y")

### Load Pandas Dataframe into SQL Table

In [15]:
#load dataframe into an sql table
conn_string = 'postgresql://postgres:postgres@localhost/PortfolioProject'

#perform to_sql test and print result
db = create_engine(conn_string)
conn = db.connect()

covid_death.to_sql('coviddeath', con = conn, if_exists = 'replace', index=False)
covid_vaccine.to_sql('covidvaccine', con = conn, if_exists = 'replace', index=False)

798